[submodule "moonlight-common-c/moonlight-common-c"]
	path = moonlight-common-c/moonlight-common-c
	url = https://github.com/naireet/moonlight-common-c.git
	branch = pyrowave
[submodule "qmdnsengine/qmdnsengine"]
	path = qmdnsengine/qmdnsengine
	url = https://github.com/cgutman/qmdnsengine.git
[submodule "app/SDL_GameControllerDB"]
	path = app/SDL_GameControllerDB
	url = https://github.com/gabomdq/SDL_GameControllerDB.git
[submodule "pyrowave/pyrowave"]
	path = pyrowave/pyrowave
	url = https://github.com/Themaister/pyrowave.git
